/*-------------------------------*/
/*            RESETS             */
/*-------------------------------*/

@mixin clearfix
  display: block
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0

*
  box-sizing: border-box

ul
  list-style: none
  padding: 0
  margin: 0

a
  text-decoration: none

/*-------------------------------*/
/*          ANIMATIONS           */
/*-------------------------------*/

@-webkit-keyframes pulse
  0%
    -webkit-transform: scale(0,0)
    opacity: 1
    border: 15px solid white
  75%
    border: 0px solid white
  100%
    -webkit-transform: scale(4.5,4.5)
    opacity: 0

@-webkit-keyframes hinge-left
  0%
    -webkit-transform: rotateY(-90deg)
    box-shadow: 50px 50px 50px rgba(0,0,0,0.05)
  100%
    -webkit-transform: rotateY(0deg)
    box-shadow: 0 0 10px rgba(0,0,0,0.25)

@-webkit-keyframes unfold
  100%
    top: 0

/*-------------------------------*/
/*            COLORS             */
/*-------------------------------*/

$green: #88af33
$light-green: #d8e7be
$dark-gray: #58595b
$yellow: #fcbf40
//$orange: #fdc344

/*-------------------------------*/
/*             TYPE              */
/*-------------------------------*/

@font-face
  font-family: 'caecilia'
  src: url('/fonts/caecilia_light/caecilialtstdlight.eot')
  src: url('/fonts/caecilia_light/caecilialtstdlight.eot?#iefix') format("embedded-opentype"), url('/fonts/caecilia_light/caecilialtstdlight.woff') format("woff"), url('/fonts/caecilia_light/caecilialtstdlight.ttf') format("truetype"), url('/fonts/caecilia_light/caecilialtstdlight.svg') format("svg")
  font-weight: light
  font-style: normal

@font-face
  font-family: 'caecilia'
  src: url('/fonts/caecilia_lightitalic/caecilialtstdlightitalic.eot')
  src: url('/fonts/caecilia_lightitalic/caecilialtstdlightitalic.eot?#iefix') format("embedded-opentype"), url('/fonts/caecilia_lightitalic/caecilialtstdlightitalic.woff') format("woff"), url('/fonts/caecilia_lightitalic/caecilialtstdlightitalic.ttf') format("truetype"), url('/fonts/caecilia_lightitalic/caecilialtstdlightitalic.svg') format("svg")
  font-weight: light
  font-style: italic

@font-face
  font-family: 'caecilia'
  src: url('/fonts/caecilia_bold/caecilialtstdbold.eot')
  src: url('/fonts/caecilia_bold/caecilialtstdbold.eot?#iefix') format("embedded-opentype"), url('/fonts/caecilia_bold/caecilialtstdbold.woff') format("woff"), url('/fonts/caecilia_bold/caecilialtstdbold.ttf') format("truetype"), url('/fonts/caecilia_bold/caecilialtstdbold.svg') format("svg")
  font-weight: bold
  font-style: normal

//___________________________________________//

@font-face 
  font-family: 'brandon_grotesque'
  src: url('/fonts/bg_bold_it/brandon_bld_it-webfont.eot')
  src: url('/fonts/bg_bold_it/brandon_bld_it-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bg_bold_it/brandon_bld_it-webfont.woff') format('woff'), url('/fonts/bg_bold_it/brandon_bld_it-webfont.ttf') format('truetype'), url('/fonts/bg_bold_it/brandon_bld_it-webfont.svg#brandon_grotesquebold_italic') format('svg')
  font-weight: normal
  font-style: italic

@font-face 
  font-family: 'brandon_grotesque'
  src: url('/fonts/bg_bold/brandon_bld-webfont.eot')
  src: url('/fonts/bg_bold/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bg_bold/brandon_bld-webfont.woff') format('woff'), url('/fonts/bg_bold/brandon_bld-webfont.ttf') format('truetype'), url('/fonts/bg_bold/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg')
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'brandon_grotesque'
  src: url('/fonts/bg_reg_it/brandon_reg_it-webfont.eot')
  src: url('/fonts/bg_reg_it/brandon_reg_it-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bg_reg_it/brandon_reg_it-webfont.woff') format('woff'), url('/fonts/bg_reg_it/brandon_reg_it-webfont.ttf') format('truetype'), url('/fonts/bg_reg_it/brandon_reg_it-webfont.svg#brandon_grotesqueRgIt') format('svg')
  font-weight: normal
  font-style: italic

@font-face 
  font-family: 'brandon_grotesque'
  src: url('/fonts/bg_reg/brandon_reg-webfont.eot')
  src: url('/fonts/bg_reg/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bg_reg/brandon_reg-webfont.woff') format('woff'), url('/fonts/bg_reg/brandon_reg-webfont.ttf') format('truetype'), url('/fonts/bg_reg/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg')
  font-weight: normal
  font-style: normal

*
  font-family: brandon_grotesque
  font-weight: normal
  

h1
  color: $green
  font-size: 20pt
  margin: 0
  font-weight: bold
  //letter-spacing: 1px
  text-transform: uppercase

h2
  color: $dark-gray
  font-size: 12pt
  //font-style: italic
  margin: 0

h3
  color: #88af33
  margin: 0
  font-style: italic
  font-size: 22px

h5
  color: $green
  font-weight: bold
  text-transform: uppercase
  font-size: 14px
  margin: 0

/*-------------------------------*/
/*        MENU TRANSITION        */
/*-------------------------------*/

#menu
  display: block
  width: 100%
  height: 100%
  position: fixed
  top: 0
  right: 0
  background: #d8e7be
  color: $dark-gray
  padding: 15px
  //box-shadow: 0 0 50px rgba(0, 0, 0, 0.15) inset
  z-index: 0
  &.open
    + #main
      top: 80%
      //box-shadow: 0 -25px 50px rgba(0,0,0,0.15)
    .header
      top: 0
      opacity: 1
      box-shadow: 0 0 20px rgba(0,0,0,0.25)
    ul li
      opacity: 1
      top: 0 !important
      box-shadow: 0 0 10px rgba(0,0,0,0.15)
      -webkit-transform: rotateX(0deg)
  .header
    opacity: 0
    position: relative
    top: -50px
    text-align: center
    padding: 5px 0
    margin-bottom: 10px
    background: #fff
    z-index: 1000
    -webkit-transition: all 0.5s
    //box-shadow: 0 -10px 20px rgba(0,0,0,0.15) inset, 0 10px 20px rgba(0,0,0,0.15) inset
    //background: rgb(66,67,68) /* Old browsers */
    //background: -moz-linear-gradient(top, rgba(66,67,68,1) 0%, rgba(110,111,114,1) 100%) /* FF3.6+ */
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,67,68,1)), color-stop(100%,rgba(110,111,114,1))) /* Chrome,Safari4+ */
    //background: -webkit-linear-gradient(top, rgba(66,67,68,1) 0%,rgba(110,111,114,1) 100%) /* Chrome10+,Safari5.1+ */
    //background: -o-linear-gradient(top, rgba(66,67,68,1) 0%,rgba(110,111,114,1) 100%) /* Opera 11.10+ */
    //background: -ms-linear-gradient(top, rgba(66,67,68,1) 0%,rgba(110,111,114,1) 100%) /* IE10+ */
    //background: linear-gradient(to bottom, rgba(66,67,68,1) 0%,rgba(110,111,114,1) 100%) /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424344', endColorstr='#6e6f72',GradientType=0 ) /* IE6-9 */
    //&:before
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: white
      -webkit-transform-origin: center top
      -webkit-transform-style: preserve-3d
      -webkit-transform: rotateX(100deg)
      //-webkit-perspective: 1200px
    .map-btn
      width: 60px
      float: right
      display: inline-block
      border-left: 1px solid #dcddde
      height: 55px
      text-align: center
      font-size: 16pt
      padding-top: 15px
      i
        font-size: 27px
    h1
      display: inline-block
      margin: 11px 0 5px 0
      //width: 79%
      font-weight: bold 
      color: $dark-gray
      //text-shadow: 0 5px 10px rgba(0,0,0,0.25)
  ul li
    opacity: 0
    position: relative
    padding: 20px 25px 15px
    margin: 0 15px
    background: #fff
    border-bottom: 1px solid #dcddde 
    //box-shadow: 0 0 10px rgba(0,0,0,0.15)
    -webkit-transition: -webkit-transform 0.3s
    //-webkit-transition-delay: 0.3s
    -webkit-transform-origin: center top
    -webkit-transform-style: preserve-3d
    -webkit-transform: perspective(600px 600px)
    -webkit-transform: rotateX(90deg)
    //-webkit-animation: hinge-left 0.5s ease-in
    &:nth-child(1)
      -webkit-transition-delay: 0.5s
      z-index: 600
    &:nth-child(2)
      -webkit-transition-delay: 0.6s
      //top: -54px
      z-index: 500
    &:nth-child(3)
      -webkit-transition-delay: 0.7s
      //top: -108px
      z-index: 400
    &:nth-child(4)
      -webkit-transition-delay: 0.8s
      //top: -162px
      z-index: 300
    &:nth-child(5)
      -webkit-transition-delay: 0.9s
      //top: -216px
      z-index: 200
    &:nth-child(6)
      -webkit-transition-delay: 1s
      //top: -270px
      z-index: 100
    i[class^="icon"]
      display: inline-block
      color: $dark-gray
      margin-right: 20px
      float: left
    h2
      display: inline-block

#main
  display: block
  position: relative
  width: 100%
  height: 100%
  float: left
  margin: 0
  padding: 30px 15px 25px
  z-index: 5000
  -webkit-transition: top 0.5s
  -moz-transition: top 0.5s
  overflow: auto


/*-------------------------------*/
/*          MENU SLIDER          */
/*-------------------------------*/


.menu-slider
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 18px
  margin: 0
  padding: 0
  background: $light-green 
  text-align: center
  //border-bottom: 2px solid $yellow
  box-shadow: 0 0 10px rgba(0,0,0,0.35), 0 -5px 10px rgba(255,255,255,0.35) inset
  //box-shadow: 0 0 10px #fff
  z-index: 1000000
  &:before
    content: ""
    display: block
    position: absolute
    top: 18px
    left: 46.75%
    width: 0
    height: 0
    border: 10px solid
    border-color: $light-green transparent transparent transparent
  .groove
    display: block
    //position: absolute
    top: 0
    margin: 2px auto
    width: 3em
    height: 10px
    border-radius: 10px
    //background: black
    text-align: center
    z-index: 1100000
    box-shadow: 0 1px 1px rgba(0,0,0,0.25) inset, 0 1px 1px #fff
  h3
    position: relative
    top: 3px
    line-height: 0
    margin: 0
    color: #fff
    font-size: 25px
    letter-spacing: 3px
    text-shadow: 0 1px 1px rgba(0,0,0,0.2)
    z-index: 5000000




/*-------------------------------*/
/*             BODY              */
/*-------------------------------*/

body
  width: 100%
  //padding: 15px
  margin: 0
  //background-image: url('/images/compass-mapBG.jpg')
  //background-size: 100%
  //background-repeat: no-repeat


/*-------------------------------*/
/*          MAP CANVAS           */
/*-------------------------------*/

#map-canvas
  width: 100%
  height: 135%
  position: absolute
  top: -35%
  left: 0
  z-index: -1

.canvas-overlay
  width: 100%
  height: 110%
  position: absolute
  left: 0
  top: -15px
  z-index: -1
  background: #d8e7be
  opacity: 0.75
  -webkit-transition: opacity 0.6s


/*-------------------------------*/
/*            HEADER             */
/*-------------------------------*/

.header
  position: relative
  text-align: center
  padding: 5px 0
  margin-bottom: 10px
  background: #fff
  z-index: 1000
  -webkit-transition: all 0.5s
  box-shadow: 0 0 15px rgba(0,0,0,0.35)
  h1
    display: inline-block
    margin: 10px 0 6px 0
    //width: 79%
    //font-weight: bold 
    color: $green

.menu-btn
  width: 60px
  display: inline-block
  float: right
  border-left: 1px solid #dcddde
  height: 55px
  text-align: center
  font-size: 16pt
  padding-top: 18px
  color: $green

.cache-header
  @include clearfix
  position: relative
  background: white
  width: 100%
  padding: 5px
  padding-right: 0
  z-index: 100
  box-shadow: 0 0 15px rgba(0,0,0,0.35)
  .cache-info
    display: inline-block
    float: left
    h1
      margin-bottom: 5px
    .cache-type
      display: inline-block
      margin-right: 5px
    .difficulty
      display: inline-block
      margin-right: 20px
      .icon-cache
        display: inline-block
        height: 12px
        width: 18px
        background-repeat: no-repeat
        &.green
          background: url('../images/cache_green.png') !important
          background-size: 100% !important
      .icon-star, .icon-star-empty
        color: $yellow
        font-size: 10pt
    .distance
      display: inline-block
      h2
        display: inline-block
        font-size: 10pt
      .icon-direction
        display: inline-block
        height: 12px
        width: 10px
        background: url('../images/distance.png') !important
        background-size: 100% !important
        background-repeat: no-repeat

/*-------------------------------*/
/*           MINI MAP            */
/*-------------------------------*/

.mini-map
  height: 300px
  width: 100%

/*-------------------------------*/
/*          COMPASS UI           */
/*-------------------------------*/

.magic-arrow
  position: relative
  height: 275px
  width: 275px
  margin: auto

.pulse1, .pulse2, .pulse3
  -webkit-transform-origin: center
  position: absolute
  width: 275px
  height: 275px
  border-radius: 50%
  border: 10px solid white
  background: transparent
  box-shadow: 0 0 10px rgba(0,0,0,0.15), 0 0 5px rgba(0,0,0,0.1) inset

.pulse1
  -webkit-animation: pulse 5s ease-in-out 0s infinite 

//.pulse2
  -webkit-animation: pulse 6s ease-in-out 3s infinite




.menu-container
  position: absolute
  top: 0
  left: 0
  height: 275px
  width: 275px
  margin: auto
  border-radius: 50%
  overflow: hidden
  background: #d8d8d8 /* Old browsers */
  background: -moz-linear-gradient(top, #d8d8d8 0%, #ffffff 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#ffffff)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d8d8d8 0%,#ffffff 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d8d8d8 0%,#ffffff 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d8d8d8 0%,#ffffff 100%) /* IE10+ */
  background: linear-gradient(to bottom, #d8d8d8 0%,#ffffff 100%) /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=0 ) /* IE6-9 */
  box-shadow: 2px -10px 25px white, 0 5px 5px rgba(0,0,0,0.15) inset
  .dividers
    position: relative
    overflow: hidden
    border-radius: 50%
    table
      width: 100%
      height: 100%
      border-spacing: 0
      -webkit-transform: rotate(45deg)
      tr td
        border-bottom: 1px solid rgba(0,0,0,0.1)
        border-left: 1px solid white
        border-right: 1px solid rgba(0,0,0,0.1)
        border-top: 1px solid white
        padding: 0
        width: 50%
        height: 50%
        text-align: center
        vertical-align: center
        &:active
          background: rgba(0,0,0,0.1)
        .sub-btn
          position: relative
          -webkit-transform: rotate(-45deg)
          i[class^="icon"]
            font-size: 24px
            display: block
            color: $dark-gray
            text-shadow: 0 1px 50px white, 0 1px 50px white, 0 1px 0 rgba(255,255,255,0.75)
            //text-shadow: 0 1px 3px rgba(0,0,0,0.35)
          h2
            //font-weight: bold
            margin-top: 10px
            color: $dark-gray
            text-shadow: 0 1px 50px white, 0 1px 0 white
          &.photo
            top: 10px
            left: 10px
          &.text
            top: 10px
            right: 10px
          &.guide
            top: -5px
            left: 5px
          &.video
            top: -5px
            left: -5px
  .back
    position: absolute
    top: 100px
    left: 100px
    width: 75px
    height: 75px
    .bezel-shadow, .bezel-highlight
      width: 100%
      height: 100%
      border-radius: 50%
      position: absolute
      top: 0
      left: 0
    .bezel-shadow
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(255,255,255,0) 100%) /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(255,255,255,0))) /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%) /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%) /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%) /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(255,255,255,0) 100%) /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#ffffff',GradientType=0 ) /* IE6-9 */
    .bezel-highlight
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 100%) /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.75))) /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%) /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%) /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%) /* IE10+ */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 100%) /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#ffffff',GradientType=0 ) /* IE6-9 */
    .cap
      width: 86%
      height: 86%
      position: absolute
      top: 7%
      left: 7%
      border-radius: 50%
      background: #f5f4f2
      box-shadow: 0 0 5px rgba(0,0,0,0.15) inset
    .back-btn
      width: 74%
      height: 74%
      position: absolute
      top: 12.5%
      left: 13.5%
      background: #cddcec /* Old browsers */
      background: -moz-linear-gradient(top, #cddcec 0%, #84a7d0 100%) /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cddcec), color-stop(100%,#84a7d0)) /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #cddcec 0%,#84a7d0 100%) /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #cddcec 0%,#84a7d0 100%) /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #cddcec 0%,#84a7d0 100%) /* IE10+ */
      background: linear-gradient(to bottom, #cddcec 0%,#84a7d0 100%) /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cddcec', endColorstr='#84a7d0',GradientType=0 ) /* IE6-9 */
      box-shadow: 0 1px 3px rgba(0,0,0,0.4)
      border-radius: 50%
      text-align: center
      i[class^="icon"]
        position: relative
        top: 15px
        //left: 19px
        color: #fff
        font-size: 24px
        text-shadow: 0 1px 5px rgba(0,0,0,0.15)


.compass-container
  position: absolute
  top: 12px
  left: 12px
  height: 250px
  width: 250px
  border-radius: 50%
  border: 6px solid white
  background: #e5e5e5 /* Old browsers */
  background: -moz-linear-gradient(top, #e5e5e5 0%, #f2f2f2 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f2f2f2)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e5e5 0%,#f2f2f2 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e5e5 0%,#f2f2f2 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e5e5 0%,#f2f2f2 100%) /* IE10+ */
  background: linear-gradient(to bottom, #e5e5e5 0%,#f2f2f2 100%) /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f2f2f2',GradientType=0 ) /* IE6-9 */
  box-shadow: 0 9px 15px rgba(0,0,0,0.25), 0 8px 10px rgba(0,0,0,0.1) inset
  -webkit-transform-origin: 17% 83%
  -webkit-transition: all 0.4s
  &.open
    -webkit-transform: rotate(180deg)
  .directions
    position: absolute
    top: 4px
    left: 4px
    margin: auto
    height: 230px
    width: 230px
    background-image: url(/images/compass.png)
    background-size: 100%
    background-repeat: no-repeat
    //-webkit-transform: rotate(45deg)
  .arrow
    position: absolute
    left: 57px
    top: 24px
    height: 160px
    width: 125px
    background-image: url(/images/compass-arrow.png)
    background-size: 100%
    background-repeat: no-repeat
    //box-shadow: 0 0 10px black
    -webkit-transform: rotate(45deg)
    -webkit-transform-origin: 50% 59%
  .new-post-btn
    position: absolute
    top: 83px
    left: 88px
    width: 65px
    height: 65px
    border-radius: 50%
    border: 2px solid white
    background: #cddcec /* Old browsers */
    background: -moz-linear-gradient(top, #cddcec 0%, #84a7d0 100%) /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cddcec), color-stop(100%,#84a7d0)) /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cddcec 0%,#84a7d0 100%) /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cddcec 0%,#84a7d0 100%) /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cddcec 0%,#84a7d0 100%) /* IE10+ */
    background: linear-gradient(to bottom, #cddcec 0%,#84a7d0 100%) /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cddcec', endColorstr='#84a7d0',GradientType=0 ) /* IE6-9 */
    box-shadow: 0 2px 10px rgba(0,0,0,0.25)
    i[class^="icon"]
      position: relative
      top: 15px
      left: 19px
      color: #85a6d0
      font-size: 30px
      text-shadow: 0 -1px 0 rgba(0,0,0,0.25), 0 1px 1px rgba(255,255,255,0.5)


/*-------------------------------*/
/*          CACHE INFO           */
/*-------------------------------*/

.cache-data
  width: 100%
  background: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.25)
  padding: 10px
  .map
    width: 50%
    height: 150px
    display: inline-block
    //float: left
    //get rid of this stuff after you get the real map in
    background: url("../images/cache_info_map.png")
    background-size: 150% 100%
  .specs
    display: inline-block
    padding-left: 5px
    width: 48%
    float: right
    .date
      text-align: right
      //text-transform: uppercase
      color: gray
      margin-bottom: 15px
    .cache-type, .findabiliy, .distance
      margin-bottom: 10px
    i[class*="star"]
      color: $yellow
    .icon-cache
      display: inline-block
      height: 12px
      width: 18px
      background-repeat: no-repeat
      &.green
        background: url('../images/cache_green.png') !important
        background-size: 100% !important
    .distance
      .icon-direction
        display: inline-block
        height: 12px
        width: 10px
        margin-right: 8px
        background: url('../images/distance.png') !important
        background-size: 100% !important
        background-repeat: no-repeat
      h2
        display: inline-block
        //font-size: 10pt
  .description
    margin: 35px 0
  .save-cache-btn, .goto-cache-btn
    width: 48%
    height: 55px
    display: inline-block
    background: grey
    text-align: center
    h3
      font-weight: bold
  .save-cache-btn
    margin-right: 2%
    padding: 15px 0
    border: 1px solid #88af33
    background: rgb(226,237,206) /* Old browsers */
    background: -moz-linear-gradient(top, rgba(226,237,206,1) 0%, rgba(206,225,174,1) 100%) /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,237,206,1)), color-stop(100%,rgba(206,225,174,1))) /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(226,237,206,1) 0%,rgba(206,225,174,1) 100%) /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(226,237,206,1) 0%,rgba(206,225,174,1) 100%) /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(226,237,206,1) 0%,rgba(206,225,174,1) 100%) /* IE10+ */
    background: linear-gradient(to bottom, rgba(226,237,206,1) 0%,rgba(206,225,174,1) 100%) /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2edce', endColorstr='#cee1ae',GradientType=0 ) /* IE6-9 */
    h4
      color: #88af33
      font-size: 18px
      font-weight: bold
      text-transform: uppercase
      margin: 0
      text-shadow: 0 1px 1px rgba(255,255,255,0.75)
  .goto-cache-btn
    color: #e6e7e8
    padding: 15px 0
    border: 1px solid black
    //box-shadow: 0 -10px 20px rgba(0,0,0,0.15) inset, 0 10px 20px rgba(0,0,0,0.15) inset
    background: rgb(110,111,114) /* Old browsers */
    background: -moz-linear-gradient(top, rgba(110,111,114,1) 1%, rgba(66,67,68,1) 100%) /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(110,111,114,1)), color-stop(100%,rgba(66,67,68,1))) /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(110,111,114,1) 1%,rgba(66,67,68,1) 100%) /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(110,111,114,1) 1%,rgba(66,67,68,1) 100%) /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(110,111,114,1) 1%,rgba(66,67,68,1) 100%) /* IE10+ */
    background: linear-gradient(to bottom, rgba(110,111,114,1) 1%,rgba(66,67,68,1) 100%) /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6f72', endColorstr='#424344',GradientType=0 ) /* IE6-9 */
    h4
      color: lightgray
      font-size: 18px
      font-weight: bold
      text-transform: uppercase
      margin: 0
      text-shadow: 0 -1px 1px rgba(0,0,0,0.75)


/*-------------------------------*/
/*          CACHE LOG            */
/*-------------------------------*/


.hidden
  opacity: 0 !important
  left: -10px !important

.cache-log
  @include clearfix
  width: 100%
  background: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.25)
  padding: 10px
  margin: 15px 0
  header
    @include clearfix
    position: relative
    h5
      position: relative
      left: 0
      opacity: 1
      -webkit-transition: all 0.3s
    h1
      position: relative
      left: 0
      top: -5px
      color: $dark-gray
      display: inline-block
      //float: left
      //width: 49%
      //margin: 0px 15px 25px 0px
      z-index: 1
      opacity: 1
      -webkit-transition: all 0.3s
    .cache-stats
      position: relative
      top: 10px
      //width: 150px
      //box-shadow: 0 0 5px rgba(0,0,0,0.15) inset
      .found, .not-found, .maintenance
        float: left
        //width: 35px
        //box-shadow: 0 0 5px rgba(0,0,0,0.15)
        padding: 5px
        h2
          display: inline-block
      div[class^="icon"]
        width: 10px
        height: 10px
        border-radius: 50%
        display: inline-block
        margin: 2px 2px 0 0
      .icon-ok-sign
        font-size: 12px
        color: $green
        position: relative
        top: -1px
      .icon-remove-sign
        font-size: 12px
        color: red
        position: relative
        top: -1px
      .icon-wrench
        font-size: 12px
        position: relative
        top: -1px
        color: orange
    .log-cache-slider
      @include clearfix
      position: absolute
      right: 0
      top: 0
      display: inline-block
      float: right
      width: 60px
      height: 60px
      padding: 5px
      border-radius: 35px
      background: #fff
      overflow: hidden
      -webkit-transition: all 0.6s
      z-index: 1000
      .btn
        position: relative
        float: left
        width: 50px
        height: 50px
        border-radius: 50%
        padding-top: 15px
        text-align: center
        border: 2px solid white
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.15)
        background: #cddcec /* Old browsers */
        background: -moz-linear-gradient(top, #cddcec 0%, #84a7d0 100%) /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cddcec), color-stop(100%,#84a7d0)) /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #cddcec 0%,#84a7d0 100%) /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #cddcec 0%,#84a7d0 100%) /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #cddcec 0%,#84a7d0 100%) /* IE10+ */
        background: linear-gradient(to bottom, #cddcec 0%,#84a7d0 100%) /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cddcec', endColorstr='#84a7d0',GradientType=0 ) /* IE6-9 */
        -webkit-transition: all 0.3s
        z-index: 100
        i[class^="icon"]
          font-weight: bold
          font-size: 22px
          color: #85a6d0
          text-shadow: 0 1px 1px rgba(255,255,255,0.5)
      h1
        color: #fff
        position: absolute
        top: 12px
        left: -50px
        width: 250px
        opacity: 0
        //font-weight: bold
        text-shadow: 0 1px 2px #85a6d0
        -webkit-transition: all 0.6s
        -webkit-transition-delay: 0.4s
        z-index: 1
      &.slide
        width: 342px
        box-shadow: 0 0 5px rgba(0,0,0,0.2) inset
        background: #cddcec
        .btn
          box-shadow: 0 0 5px 2px rgba(0,0,0,0.1)
        h1
          opacity: 1
          left: 75px
.user-post
  position: relative
  margin-top: 15px
  padding: 10px
  box-shadow: 0 0 5px rgba(0,0,0,0.25)
  .user-name
    font-size: 18px
    margin-bottom: 0px
    color: gray
    text-transform: uppercase
    display: inline-block
  .post-date
    display: inline-block
    position: absolute
    right: 0
    color: gray
    margin-right: 10px
  p 
    font-size: 14px
    margin: 5px 0
  &.found
    border-left: 5px solid $green


/*-------------------------------*/
/*         SAVED CACHES          */
/*-------------------------------*/


.header
  position: relative

.saved-caches
  box-shadow: 0 0 15px rgba(0,0,0,0.35)
  background: rgba(0,0,0,0.15)
  position: relative
  -webkit-transition: top 0.3s, opacity 0.6s
  .cache-header
    padding-left: 10px
    box-shadow: 0 0 0 transparent !important
    margin-bottom: 5px
    //border-bottom: 1 px solid #dcddde
    .cache-info
      width: 100%
      .menu-btn
        position: absolute
        top: 5px
        right: 0
  &.search-mode
    .cache-header
      opacity: 0.5

.search
  @include clearfix
  position: relative
  width: 100%
  padding: 5px
  padding-right: 0 !important
  margin: 25px 0
  background: #fff
  box-shadow: 0 0 15px rgba(0,0,0,0.35)
  -webkit-transition: top 0.3s
  .search-btn
    width: 60px
    height: 55px
    display: inline-block
    float: right
    border-left: 1px solid #dcddde
    text-align: center
    font-size: 16pt
    padding-top: 18px
    color: $green
  input
    display: inline-block
    float: left
    height: 45px
    width: 75%
    line-height: 40px
    font-size: 24px
    margin: 5px
    &:focus
      outline: 0

.search-mode
  top: -90px

.canvas-overlay.search-mode
  opacity: 1


/*-------------------------------*/
/*        ADVENTURE LOG          */
/*-------------------------------*/


.log
  .timeline
    position: relative
    height: 35px
    width: 5px
    margin: 0 auto 
    background: $green
    opacity: 0.75
    &:last-child
      margin: auto !important
  .today, .start
    background: $green
    width: 11px
    height: 11px
    border-radius: 50%
    opacity: 0.75
  .today
    margin: 25px auto -1px
  .start
    margin: -1px auto 50px
  .cache-adv-log
    .cache-name
      position: relative
      padding: 10px
      background: #fff
      box-shadow: 0 0 10px rgba(0,0,0,0.15)
      z-index: 100
      h3
        color: $green
        margin: 0
        font-style: italic
      .date
        //text-transform: uppercase
        //text-align: center
        //font-style: italic
        font-size: 14px
        color: gray
        float: right
        //position: absolute
        //top: 10px
        //left: 10px
      .icon-cache
        display: inline-block
        height: 12px
        width: 18px
        background-repeat: no-repeat
        &.green
          background: url('../images/cache_green.png') !important
          background-size: 100% !important
      .icon-star, .icon-star-empty
        color: $yellow
        font-size: 10pt
    .cache-map
      position: relative
      background: #fff
      box-shadow: 0 0 10px rgba(0,0,0,0.15)
      height: 200px
      //margin: 0 10px
      padding: 10px
      z-index: 75
      overflow: hidden
      -webkit-transition: all 0.3s
      .map
        position: relative
        background: url("../images/log_map.png")
        background-size: 100%
        background-position: center center
        background-repeat: no-repeat
        width: 100%
        height: 100%
        opacity: 1
        -webkit-transition: all 0.3s
        //-webkit-transition-delay: 0.3s
    .cache-description
      position: relative
      background: #fff
      box-shadow: 0 0 10px rgba(0,0,0,0.15)
      //margin: 0 20px
      z-index: 50
      padding: 10px
      overflow: hidden
      -webkit-transition: all 0.3s
      p
        position: relative
        margin: 0
        opacity: 1
        -webkit-transition: all 0.6s
        -webkit-transition-delay: 0.3s
      .user-post
        position: relative
        opacity: 1
        -webkit-transition: all 0.6s
        -webkit-transition-delay: 0.4s
    &.closed
      .cache-map, .cache-description
        height: 50px
        margin-top: -45px !important
      .cache-map
        margin: 0 10px
        .map
          //top: -15px
          opacity: 0
          //background-size: 0% 
      .cache-description
        margin: 0 20px
        & > p
          top: -15px
          opacity: 0
        .user-post
          opacity: 0
    &.found
      .cache-name
        border-left: 5px solid $green 





