/*------------------------------- */
/*            RESETS             */
/*------------------------------- */
* {
  box-sizing: border-box; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/*------------------------------- */
/*          ANIMATIONS           */
/*------------------------------- */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 1; }

  100% {
    -webkit-transform: scale(4.5, 4.5);
    opacity: 0; } }

/*------------------------------- */
/*            COLORS             */
/*------------------------------- */
/*------------------------------- */
/*             TYPE              */
/*------------------------------- */
@font-face {
  font-family: "caecilia";
  src: url("/fonts/caecilia_light/caecilialtstdlight.eot");
  src: url("/fonts/caecilia_light/caecilialtstdlight.eot?#iefix") format("embedded-opentype"), url("/fonts/caecilia_light/caecilialtstdlight.woff") format("woff"), url("/fonts/caecilia_light/caecilialtstdlight.ttf") format("truetype"), url("/fonts/caecilia_light/caecilialtstdlight.svg") format("svg");
  font-weight: light;
  font-style: normal; }

@font-face {
  font-family: "caecilia";
  src: url("/fonts/caecilia_lightitalic/caecilialtstdlightitalic.eot");
  src: url("/fonts/caecilia_lightitalic/caecilialtstdlightitalic.eot?#iefix") format("embedded-opentype"), url("/fonts/caecilia_lightitalic/caecilialtstdlightitalic.woff") format("woff"), url("/fonts/caecilia_lightitalic/caecilialtstdlightitalic.ttf") format("truetype"), url("/fonts/caecilia_lightitalic/caecilialtstdlightitalic.svg") format("svg");
  font-weight: light;
  font-style: italic; }

@font-face {
  font-family: "caecilia";
  src: url("/fonts/caecilia_bold/caecilialtstdbold.eot");
  src: url("/fonts/caecilia_bold/caecilialtstdbold.eot?#iefix") format("embedded-opentype"), url("/fonts/caecilia_bold/caecilialtstdbold.woff") format("woff"), url("/fonts/caecilia_bold/caecilialtstdbold.ttf") format("truetype"), url("/fonts/caecilia_bold/caecilialtstdbold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }

* {
  font-family: caecilia;
  font-weight: normal; }

h1 {
  color: #88af33;
  font-size: 20pt;
  margin: 0; }

h2 {
  color: #58595b;
  font-size: 12pt;
  font-style: italic;
  margin: 0; }

/*------------------------------- */
/*        MENU TRANSITION        */
/*------------------------------- */
#menu {
  display: block;
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #d8e7be;
  color: white;
  padding: 15px;
  box-shadow: 25px 0 50px rgba(0, 0, 0, 0.15) inset;
  z-index: 0;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s; }
  #menu.open {
    width: 80%; }
    #menu.open + #main {
      left: -80%; }
  #menu .header {
    text-align: center;
    padding: 20px 0 10px;
    background: #333333; }
    #menu .header h1 {
      font-weight: bold; }
  #menu ul li {
    padding: 15px 25px;
    margin: 15px 0;
    background: white; }
    #menu ul li i[class^="icon"] {
      display: inline-block; }
    #menu ul li h2 {
      display: inline-block; }

#main {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  padding: 15px;
  z-index: 1000;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  overflow: hidden; }

/*------------------------------- */
/*             BODY              */
/*------------------------------- */
body {
  width: 100%;
  margin: 0; }

/*------------------------------- */
/*          MAP CANVAS           */
/*------------------------------- */
#map-canvas {
  width: 100%;
  height: 135%;
  position: absolute;
  top: -35%;
  left: 0;
  z-index: -1; }

/*------------------------------- */
/*            HEADER             */
/*------------------------------- */
.header {
  display: block;
  position: relative;
  background: white;
  width: 100%;
  padding: 5px;
  z-index: 100;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35); }
  .header:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .header h1 {
    margin-bottom: 5px; }

.cache-info {
  width: 85%;
  display: inline-block;
  float: left; }
  .cache-info .cache-type {
    display: inline-block;
    margin-right: 5px; }
  .cache-info .difficulty {
    display: inline-block;
    margin-right: 20px; }
    .cache-info .difficulty .icon-cache {
      display: inline-block;
      height: 12px;
      width: 18px;
      background-repeat: no-repeat; }
      .cache-info .difficulty .icon-cache.green {
        background: url("../images/cache_green.png") !important;
        background-size: 100% !important; }
    .cache-info .difficulty .icon-star, .cache-info .difficulty .icon-star-empty {
      color: #fcbf40;
      font-size: 10pt; }
  .cache-info .distance {
    display: inline-block; }
    .cache-info .distance h2 {
      display: inline-block;
      font-size: 10pt; }
    .cache-info .distance .icon-direction {
      display: inline-block;
      height: 12px;
      width: 10px;
      background: url("../images/distance.png") !important;
      background-size: 100% !important;
      background-repeat: no-repeat; }

.menu-btn {
  width: 13%;
  display: inline-block;
  border-left: 1px solid #dcddde;
  height: 55px;
  text-align: center;
  font-size: 16pt;
  padding: 5.25%;
  color: #88af33; }

/*------------------------------- */
/*           MINI MAP            */
/*------------------------------- */
.mini-map {
  height: 300px;
  width: 100%; }

/*------------------------------- */
/*          COMPASS UI           */
/*------------------------------- */
.magic-arrow {
  position: relative;
  height: 275px;
  width: 275px;
  margin: auto; }

.pulse1, .pulse2, pulse3 {
  -webkit-transform-origin: center;
  position: absolute;
  width: 275px;
  height: 275px;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1) inset; }

.pulse1 {
  -webkit-animation: pulse 5s ease-in-out 0s infinite; }

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 275px;
  width: 275px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  background: #d8d8d8;
  background: -moz-linear-gradient(top, #d8d8d8 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #d8d8d8 0%, white 100%);
  background: -o-linear-gradient(top, #d8d8d8 0%, white 100%);
  background: -ms-linear-gradient(top, #d8d8d8 0%, white 100%);
  background: linear-gradient(to bottom, #d8d8d8 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8d8d8', endColorstr='#ffffff',GradientType=0 );
  box-shadow: 2px -10px 25px white, 0 5px 5px rgba(0, 0, 0, 0.15) inset; }
  .menu-container .dividers {
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    .menu-container .dividers table {
      width: 100%;
      height: 100%;
      border-spacing: 0;
      -webkit-transform: rotate(45deg); }
      .menu-container .dividers table tr td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid white;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid white;
        padding: 0;
        width: 50%;
        height: 50%;
        text-align: center;
        vertical-align: center; }
        .menu-container .dividers table tr td:active {
          background: rgba(0, 0, 0, 0.1); }
        .menu-container .dividers table tr td .sub-btn {
          position: relative;
          -webkit-transform: rotate(-45deg); }
          .menu-container .dividers table tr td .sub-btn i[class^="icon"] {
            font-size: 24px;
            display: block;
            color: #58595b;
            text-shadow: 0 1px 50px white, 0 1px 50px white, 0 1px 0 rgba(255, 255, 255, 0.75); }
          .menu-container .dividers table tr td .sub-btn h2 {
            font-weight: bold;
            margin-top: 10px;
            color: #58595b;
            text-shadow: 0 1px 50px white, 0 1px 0 white; }
          .menu-container .dividers table tr td .sub-btn.photo {
            top: 10px;
            left: 10px; }
          .menu-container .dividers table tr td .sub-btn.text {
            top: 10px;
            right: 10px; }
          .menu-container .dividers table tr td .sub-btn.guide {
            top: -5px;
            left: 5px; }
          .menu-container .dividers table tr td .sub-btn.video {
            top: -5px;
            left: -5px; }
  .menu-container .back {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 75px;
    height: 75px; }
    .menu-container .back .bezel-shadow, .menu-container .back .bezel-highlight {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0; }
    .menu-container .back .bezel-shadow {
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#ffffff',GradientType=0 ); }
    .menu-container .back .bezel-highlight {
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.75)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#ffffff',GradientType=0 ); }
    .menu-container .back .cap {
      width: 86%;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 7%;
      border-radius: 50%;
      background: #f5f4f2;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) inset; }
    .menu-container .back .back-btn {
      width: 74%;
      height: 74%;
      position: absolute;
      top: 12.5%;
      left: 13.5%;
      background: #cddcec;
      background: -moz-linear-gradient(top, #cddcec 0%, #84a7d0 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cddcec), color-stop(100%, #84a7d0));
      background: -webkit-linear-gradient(top, #cddcec 0%, #84a7d0 100%);
      background: -o-linear-gradient(top, #cddcec 0%, #84a7d0 100%);
      background: -ms-linear-gradient(top, #cddcec 0%, #84a7d0 100%);
      background: linear-gradient(to bottom, #cddcec 0%, #84a7d0 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cddcec', endColorstr='#84a7d0',GradientType=0 );
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      text-align: center; }
      .menu-container .back .back-btn i[class^="icon"] {
        position: relative;
        top: 15px;
        color: white;
        font-size: 24px;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.compass-container {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 6px solid white;
  background: #e5e5e5;
  background: -moz-linear-gradient(top, #e5e5e5 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #f2f2f2 100%);
  background: linear-gradient(to bottom, #e5e5e5 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f2f2f2',GradientType=0 );
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.25), 0 8px 10px rgba(0, 0, 0, 0.1) inset;
  -webkit-transform-origin: 17% 83%;
  -webkit-transition: all 0.4s; }
  .compass-container.open {
    -webkit-transform: rotate(180deg); }
  .compass-container .directions {
    position: absolute;
    top: 4px;
    left: 4px;
    margin: auto;
    height: 230px;
    width: 230px;
    background-image: url(/images/compass.png);
    background-size: 100%;
    background-repeat: no-repeat; }
  .compass-container .arrow {
    position: absolute;
    left: 57px;
    top: 24px;
    height: 160px;
    width: 125px;
    background-image: url(/images/compass-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 50% 59%; }
  .compass-container .new-post-btn {
    position: absolute;
    top: 83px;
    left: 88px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid white;
    background: #cddcec;
    background: -moz-linear-gradient(top, #cddcec 0%, #84a7d0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cddcec), color-stop(100%, #84a7d0));
    background: -webkit-linear-gradient(top, #cddcec 0%, #84a7d0 100%);
    background: -o-linear-gradient(top, #cddcec 0%, #84a7d0 100%);
    background: -ms-linear-gradient(top, #cddcec 0%, #84a7d0 100%);
    background: linear-gradient(to bottom, #cddcec 0%, #84a7d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cddcec', endColorstr='#84a7d0',GradientType=0 );
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25); }
    .compass-container .new-post-btn i[class^="icon"] {
      position: relative;
      top: 15px;
      left: 19px;
      color: #85a6d0;
      font-size: 30px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.5); }
