%html
  %head
    %title
      Compass
    %link{:href => "css/style.css", :rel => "stylesheet"}
    / %link{:href => "css/icons.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1oFgc6RXllTWFTc2gWZJazqkP2IoCQg&sensor=true"}
    
  %body
    #menu
      .header
        .map-btn
          %i.icon-map-marker
        %h1 Menu
      %ul
        %li 
          %a{:href => "nearby.html"}
            %i.icon-screenshot
            %h2 Nearby Caches
        %li 
          %a{:href => "saved_caches.html"}
            %i.icon-cloud-download
            %h2 Saved Caches
        %li 
          %i.icon-search
          %h2 Search
        %li 
          %a{:href => "adventure_log.html"}
            %i.icon-pencil
            %h2 Log
        %li 
          %i.icon-book
          %h2 Field Guide
        %li 
          %i.icon-cogs
          %h2 Settings
    #main
      #map-canvas
      .canvas-overlay
      .header
        %h1 Adventure Log
        .menu-btn
          %i.icon-reorder
      .log
        .today
        .timeline
        .cache-adv-log.found.closed
          .date
            April 1, 2013
          .cache-name
            %h3 Peppi's Cache
            .cache-type
            .difficulty
              .icon-cache.green
              %i.icon-star
              %i.icon-star
              %i.icon-star-empty
          .cache-map
            .map
          .cache-description
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod, metus id malesuada consequat, arcu magna sagittis metus, nec venenatis risus est non mauris. 
            .post.photo
            .post.text
            .post.video
        .timeline
        .chache-log
        .timeline
        .cache-log
        .timeline
        .start

      
      

  %script{:src => "/js/toggles-ck.js"}
  %script{:src => "/js/map_controls-ck.js"}









