%html
  %head
    %title
      Compass
    %link{:href => "css/style.css", :rel => "stylesheet"}
    / %link{:href => "css/icons.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1oFgc6RXllTWFTc2gWZJazqkP2IoCQg&sensor=true"}

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"}
    %script{:src => "js/jquery.ui.touch-punch.min.js"}
    %script{:src => "js/slide-ck.js"}
    
  %body
    #menu
      .header
        %h1 Menu
      %ul
        %li 
          %a{:href => "nearby.html"}
            %i.icon-screenshot
            %h2 Nearby Caches
        %li 
          %a{:href => "saved_caches.html"}
            %i.icon-cloud-download
            %h2 Saved Caches
        %li 
          %i.icon-search
          %h2 Search
        %li 
          %a{:href => "adventure_log.html"}
            %i.icon-pencil
            %h2 Log
        %li 
          %a{:href => "guide.html"}
            %i.icon-book
            %h2 Field Guide
        %li 
          %i.icon-cogs
          %h2 Settings
      .menu-slider
        .groove
          %h3 &#8226; &#8226; &#8226;
    #main
      .map-container
        #map-canvas
        .canvas-overlay
      .content-container
        .header
          %h1 Adventure Log
        .log
          .today
          .timeline
          .cache-adv-log.found.closed
            .cache-name
              .date
                April 1, 2013
              %h3 Peppi's Cache
              .cache-type
              .difficulty
                .icon-cache.green
                %i.icon-star
                %i.icon-star
                %i.icon-star-empty
                %i.icon-star-empty
                %i.icon-star-empty
            .cache-map
              .map
            .cache-description
              %p Park n Grab.
              %p Log only. Bring writing instrument. Another easy cache to get your numbers up.
              %p CONGRATS!!!! to wwbd on FTF 
              .user-post.found
                %h2.user-name You
                .post-date
                  %p April 1, 2013
                %p Out caching with BAD859 on this beautiful fall day.... Quick find for our 5 year old!! Tftc :)
              .media
                .post.photo
                  %h2 Photos
                  %img{:src => "images/roof.jpg"}
                .post.text
                .post.video
                  %h2 Videos
                  %img{:src => "images/video.jpg"}
          .timeline
          .cache-adv-log.not-found.closed
            .cache-name
              .date
                March 28, 2013
              %h3 Troll's Lair
              .cache-type
              .difficulty
                .icon-cache.green
                %i.icon-star
                %i.icon-star
                %i.icon-star
                %i.icon-star-empty
                %i.icon-star-empty
            .cache-map
              .map
            .cache-description
              %p Park n Grab.
              %p Log only. Bring writing instrument. Another easy cache to get your numbers up.
              %p CONGRATS!!!! to wwbd on FTF 
              .user-post.found
                %h2.user-name You
                .post-date
                  %p April 1, 2013
                %p Out caching with BAD859 on this beautiful fall day.... Quick find for our 5 year old!! Tftc :)
              .post.photo
                %img{:src => "/images/roof.jpg"}
              .post.text
              .post.video
                %img{:src => "/images/video.jpg"}
          .timeline
          .cache-adv-log.found.closed
            .cache-name
              .date
                March 15, 2013
              %h3 Fremont Peak
              .cache-type
              .difficulty
                .icon-cache.green
                %i.icon-star
                %i.icon-star-empty
                %i.icon-star-empty
                %i.icon-star-empty
                %i.icon-star-empty
            .cache-map
              .map
            .cache-description
              %p Park n Grab.
              %p Log only. Bring writing instrument. Another easy cache to get your numbers up.
              %p CONGRATS!!!! to wwbd on FTF 
              .user-post.found
                %h2.user-name You
                .post-date
                  %p April 1, 2013
                %p Out caching with BAD859 on this beautiful fall day.... Quick find for our 5 year old!! Tftc :)
              .post.photo
              .post.text
              .post.video
          .timeline
          .start

      
      

  %script{:src => "js/toggles-ck.js"}
  %script{:src => "js/map_controls-ck.js"}









