%html
  %head
    %title
      Compass
    %link{:href => "css/style.css", :rel => "stylesheet"}
    / %link{:href => "css/icons.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css", :rel => "stylesheet"}
  %body
    .header
      .cache-info  
        %h1 Peppi's Cache
        .cache-type
        .difficulty
          %i.icon-star
          %i.icon-star
          %i.icon-star-empty
        .distance
          %i.icon-direction
          %h2 1.1mi
      .menu-btn
        %i.icon-reorder
    .mini-map
    .magic-arrow
      .menu-container
        %ul
          %li
            %i.icon-camera-retro
            %h2 Photo
          %li
            %i.icon-book
            %h2 Guide
          %li
            %i.icon-chat
            %h2 Text
          %li
            %i.icon-videocam-alt
            %h2 Video
        .back-btn
          %i.icon-back
      .compass-container
        .directions
        .arrow
          .new-post-btn
            %i.icon-new-post









