%html
  %head
    %title
      Compass
    %link{:href => "css/style.css", :rel => "stylesheet"}
    / %link{:href => "css/icons.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1oFgc6RXllTWFTc2gWZJazqkP2IoCQg&sensor=true"}

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"}
    %script{:src => "js/jquery.ui.touch-punch.min.js"}
    %script{:src => "js/slide-ck.js"}
    
  %body
    #menu
      .header
        %h1 Menu
      %ul
        %li 
          %a{:href => "nearby.html"}
            %i.icon-screenshot
            %h2 Nearby Caches
        %li 
          %a{:href => "saved_caches.html"}
            %i.icon-cloud-download
            %h2 Saved Caches
        %li 
          %i.icon-search
          %h2 Search
        %li 
          %a{:href => "adventure_log.html"}
            %i.icon-pencil
            %h2 Log
        %li 
          %a{:href => "guide.html"}
            %i.icon-book
            %h2 Field Guide
        %li 
          %i.icon-cogs
          %h2 Settings
      .menu-slider
        .groove
          %h3 •••
    #main
      .map-container
        #map-canvas
      / .header
      /   %a.cache-info{:href => "peppis_cache.html"}
      /     %h1 Peppi's Cache
      /   .log-cache-slider
      /     .track
      /     .btn
      /       %i.icon-pencil
      /     %h1.slide-label Sign Cache Log  >>>
      .cache-log.navigator
        %header
          %h5 On The Hunt
          %h1 Peppi's Cache
          .log-cache-slider
            .track
            .btn
              %i.icon-pencil
            %h1.slide-label Sign Cache Log  >>>
      .more-info.closed
        / %a.sign-log-btn{:href => "#"}
        /   %h4 Sign Cache Log
        .date
          May 16, 2011
        .cache-type
          .icon-cache.green
          Small: Traditional
        .findabiliy
          %i.icon-screenshot
          %i.icon-star
          %i.icon-star
          %i.icon-star-empty
          %i.icon-star-empty
          %i.icon-star-empty
        .terrain
          .icon-terrain
          %i.icon-star
          %i.icon-star
          %i.icon-star-empty
          %i.icon-star-empty
          %i.icon-star-empty
        
        .description
          %p Park n Grab.
          %p Log only. Bring writing instrument. Another easy cache to get your numbers up.
          %p CONGRATS!!!! to wwbd on FTF
        %a.exit-nav-btn{:href => "#"}
          %h4 Exit Navigation
        .cache-type
        .difficulty
          .icon-cache.green
          %i.icon-star
          %i.icon-star
          %i.icon-star-empty
          %i.icon-star-empty
          %i.icon-star-empty
        .distance
          .icon-direction
          %h2 1.1mi
      .mini-map
      .magic-arrow
        .pulse1
        .pulse2
        .menu-container
          .dividers.hidden
            %table
              %tr
                %td
                  .sub-btn.photo
                    %i.icon-camera-retro
                    %h2 Photo
                %td
                  .sub-btn.text
                    %i.icon-comment
                    %h2 Text
              %tr
                %td
                  .sub-btn.guide
                    %i.icon-book
                    %h2 Guide
                %td
                  .sub-btn.video
                    %i.icon-facetime-video
                    %h2 Video
          .back
            .bezel-shadow
            .bezel-highlight
            .cap
            .back-btn
              //%i.icon-back
              %i.icon-reply
        .compass-container
          .directions
          .arrow
            .shadow
            .pointer
            .chizle
            .cap  
          .new-post-btn
            .icon-new-post
              %img{:src => "images/pencil.png"}
            / %i.icon-pencil

  %script{:src => "js/toggles-ck.js"}
  %script{:src => "js/map_controls-ck.js"}









