%html
  %head
    %title
      Compass
    %link{:href => "css/style.css", :rel => "stylesheet"}
    %link{:href => "js/toggles-ck.js", :rel => "javascript"}
    / %link{:href => "css/icons.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1oFgc6RXllTWFTc2gWZJazqkP2IoCQg&sensor=true"}
    :javascript

      $(document).ready(function() {

        $('div.new-post-btn').click(function() {
          $('div.compass-container').toggleClass('open');
        });

        $('div.back-btn').click(function() {
          $('div.compass-container').toggleClass('open');
        });

        $('div.menu-btn').click(function() {
          $('div#menu').toggleClass('open');
        });
        
      });

      var map;

      function initialize() {
        var mapOptions = {
          zoom: 15,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        
        var startMarker = {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: "#7ca2ce",
          fillOpacity: 1,
          scale: 4,
          strokeColor: "transparent"
        };

        var startMarkerHalo = {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: "white",
          fillOpacity: 0,
          scale: 0.75,
          strokeColor: "#a5bfdd",
          strokeWeight: 12
        };

        var locMarker = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
          fillColor: "#7ca2ce",
          fillOpacity: 1,
          scale: 5,
          strokeColor: "transparent",
          strokeWeight: 5
        };


        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);


            var marker = new google.maps.Marker({
              position: pos,
              icon: locMarker,
              map: map
            });

            var markerStart = new google.maps.Marker({
              position: pos,
              icon: startMarker,
              map: map
            });

            var markerStartHalo = new google.maps.Marker({
              position: pos,
              icon: startMarkerHalo,
              map: map
            });

            map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser does not support geolocation.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

  %body
    #menu.open
      .header
        .map-btn
          %i.icon-map-marker
        %h1 Menu
      %ul
        %li 
          %i.icon-screenshot
          %h2 Nearby Caches
        %li 
          %i.icon-cloud-download
          %h2 Saved Caches
        %li 
          %i.icon-search
          %h2 Search
        %li 
          %i.icon-pencil
          %h2 Log
        %li 
          %i.icon-book
          %h2 Field Guide
        %li 
          %i.icon-cogs
          %h2 Settings
    #main
      #map-canvas
      .header
        .cache-info  
          %h1 Peppi's Cache
          .cache-type
          .difficulty
            .icon-cache.green
            %i.icon-star
            %i.icon-star
            %i.icon-star-empty
          .distance
            .icon-direction
            %h2 1.1mi
        .menu-btn
          %i.icon-reorder
      .mini-map
      .magic-arrow
        .pulse1
        .pulse2
        .menu-container
          .dividers
            %table
              %tr
                %td
                  .sub-btn.photo
                    %i.icon-camera-retro
                    %h2 Photo
                %td
                  .sub-btn.text
                    %i.icon-comment
                    %h2 Text
              %tr
                %td
                  .sub-btn.guide
                    %i.icon-book
                    %h2 Guide
                %td
                  .sub-btn.video
                    %i.icon-facetime-video
                    %h2 Video
          .back
            .bezel-shadow
            .bezel-highlight
            .cap
            .back-btn
              //%i.icon-back
              %i.icon-reply
        .compass-container
          .directions
          .arrow
            .shadow
            .pointer
            .chizle
            .cap  
          .new-post-btn
            / %i.icon-new-post
            %i.icon-pencil








