%html
  %head
    %title
      Compass
    %link{:href => "css/style.css", :rel => "stylesheet"}
    / %link{:href => "css/icons.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css", :rel => "stylesheet"}
  %body
    .header
      .cache-info  
        %h1 Peppi's Cache
        .cache-type
        .difficulty
          %i.icon-star
          %i.icon-star
          %i.icon-star-empty
        .distance
          %i.icon-direction
          %h2 1.1mi
      .menu-btn
        %i.icon-reorder
    .mini-map
    .magic-arrow
      .menu-container
        .dividers
          %table
            %tr
              %td
                .sub-btn
                  %i.icon-camera-retro
                  %h2 Photo
              %td
                .sub-btn
                  %i.icon-comment
                  %h2 Text
            %tr
              %td
                .sub-btn
                  %i.icon-book
                  %h2 Guide
              %td
                .sub-btn
                  %i.icon-facetime-video
                  %h2 Video
        .back
          .bezel-shadow
          .bezel-highlight
          .cap
          .back-btn
            %i.icon-back
      / .compass-container
      /   .directions
      /   .arrow
      /     .shadow
      /     .pointer
      /     .chizle
      /     .cap  
      /   .new-post-btn
      /     / %i.icon-new-post
      /     %i.icon-pencil








