%html
  %head
    %title
      Nearby Caches
    %link{:href => "css/style.css", :rel => "stylesheet"}
    / %link{:href => "css/icons.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1oFgc6RXllTWFTc2gWZJazqkP2IoCQg&sensor=true"}
    
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"}
    %script{:src => "js/jquery.ui.touch-punch.min.js"}
    %script{:src => "js/slide-ck.js"}

  %body
    #menu
      .header
        %h1 Menu
      %ul
        %li 
          %i.icon-screenshot
          %h2 Nearby Caches
        %li 
          %a{:href => "saved_caches.html"}
            %i.icon-cloud-download
            %h2 Saved Caches
        %li 
          %i.icon-search
          %h2 Search
        %li 
          %a{:href => "adventure_log.html"}
            %i.icon-pencil
            %h2 Log
        %li 
          %a{:href => "guide.html"}
            %i.icon-book
            %h2 Field Guide
        %li 
          %i.icon-cogs
          %h2 Settings
      .menu-slider
        .groove
          %h3 •••
    #main
      .map-container
        #map-canvas
      .header
        %h1 Nearby Caches
      .mini-map
      .nearby-cache
        .tooltip
          .cache-header
            %a.cache-info{:href => "peppis_cache.html"}
              .menu-btn
                %i.icon-chevron-right
              %h3 Peppi's Cache
              .difficulty
                .icon-cache.green
                %i.icon-star
                %i.icon-star
                %i.icon-star-empty
              .distance
                .icon-direction
                %h2 1.1mi
        .marker
      

  %script{:src => "/js/toggles-ck.js"}
  %script{:src => "/js/map_controls-ck.js"}









