%html
  %head
    %title
      Compass
    %link{:href => "css/style.css", :rel => "stylesheet"}
    / %link{:href => "css/icons.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1oFgc6RXllTWFTc2gWZJazqkP2IoCQg&sensor=true"}

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"}
    %script{:src => "js/jquery.ui.touch-punch.min.js"}
    %script{:src => "js/slide.js"}
    
  %body
    #menu
      .header
        %h1 Menu
      %ul
        %li 
          %a{:href => "nearby.html"}
            %i.icon-screenshot
            %h2 Nearby Caches
        %li 
          %a{:href => "saved_caches.html"}
            %i.icon-cloud-download
            %h2 Saved Caches
        %li 
          %i.icon-search
          %h2 Search
        %li 
          %a{:href => "adventure_log.html"}
            %i.icon-pencil
            %h2 Log
        %li 
          %a{:href => "guide.html"}
            %i.icon-book
            %h2 Field Guide
        %li 
          %i.icon-cogs
          %h2 Settings
      .menu-slider
        .groove
          %h3 •••
    #main
      .map-container
        #map-canvas
        .canvas-overlay
      .header
        %h1 Peppi's Cache
      .cache-data
        .map
        .specs
          .date
            May 16, 2011
          .cache-type
            .icon-cache.green
            Small: Traditional
          .distance
            .icon-direction
            %h2 1.1 mi
          .findabiliy
            %i.icon-screenshot
            %i.icon-star
            %i.icon-star
            %i.icon-star-empty
            %i.icon-star-empty
            %i.icon-star-empty
          .terrain
            .icon-terrain
            %i.icon-star
            %i.icon-star
            %i.icon-star-empty
            %i.icon-star-empty
            %i.icon-star-empty
        .description
          %p Park n Grab.
          %p Log only. Bring writing instrument. Another easy cache to get your numbers up.
          %p CONGRATS!!!! to wwbd on FTF
        %a.save-cache-btn{:href => "saved_caches.html"}
          %h4 Save Cache
        %a.goto-cache-btn{:href => "index.html"}
          %h4 Navigate
      .cache-log
        %header
          %h5 Peppi's Cache
          %h1 Cache Log
          .cache-stats
            .found
              %i.icon-ok-sign
              %h2 25
            .not-found
              %i.icon-remove-sign
              %h2 25
            .maintenance
              %i.icon-wrench
              %h2 25
          .log-cache-slider
            .track
            .btn
              %i.icon-pencil
            %h1.slide-label Sign Cache Log  >>>
        .user-post.found
          %h2.user-name Liyah
          .post-date
            %p 3/16/2011
          %p Another easy quick find in the area.Thanks!
        .user-post.found
          %h2.user-name RAYD.D.
          .post-date
            %p 3/16/2011
          %p Nice and easy park and grab. TFTC
        .user-post.found
          %h2.user-name DnR859
          .post-date
            %p 3/16/2011
          %p Out caching with BAD859 on this beautiful fall day.... Quick find for our 5 year old!! Tftc :)
      

  %script{:src => "/js/toggles-ck.js"}
  %script{:src => "/js/map_controls-ck.js"}









