%html
  %head
    %title
      Compass
    %link{:href => "css/style.css", :rel => "stylesheet"}
    / %link{:href => "css/icons.css", :rel => "stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css", :rel => "stylesheet"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1oFgc6RXllTWFTc2gWZJazqkP2IoCQg&sensor=true"}

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"}
    %script{:src => "js/jquery.ui.touch-punch.min.js"}
    %script{:src => "js/slide-ck.js"}
    
  %body
    #menu
      .header
        %h1 Menu
      %ul
        %li 
          %a{:href => "nearby.html"}
            %i.icon-screenshot
            %h2 Nearby Caches
        %li 
          %a{:href => "saved_caches.html"}
            %i.icon-cloud-download
            %h2 Saved Caches
        %li 
          %i.icon-search
          %h2 Search
        %li 
          %a{:href => "adventure_log.html"}
            %i.icon-pencil
            %h2 Log
        %li 
          %i.icon-book
          %h2 Field Guide
        %li 
          %i.icon-cogs
          %h2 Settings
      .menu-slider
        .groove
          %h3 •••
    #main
      #map-canvas
      .canvas-overlay
      .header
        %h1 Saved Caches
      .search
        %input{:type => "text", :placeholder => "search"}
        .search-btn
          %i.icon-search
      .saved-caches
        .cache-header
          %a.cache-info{:href => "peppis_cache.html"}
            %h3 Peppi's Cache
            .difficulty
              .icon-cache.green
              %i.icon-star
              %i.icon-star
              %i.icon-star-empty
            .distance
              .icon-direction
              %h2 1.1mi
            .menu-btn
              %i.icon-chevron-right
        .cache-header
          %a.cache-info{:href => "peppis_cache.html"}
            %h3 Peppi's Cache
            .difficulty
              .icon-cache.green
              %i.icon-star
              %i.icon-star
              %i.icon-star-empty
            .distance
              .icon-direction
              %h2 1.1mi
            .menu-btn
              %i.icon-chevron-right
        .cache-header
          %a.cache-info{:href => "peppis_cache.html"}
            %h3 Peppi's Cache
            .difficulty
              .icon-cache.green
              %i.icon-star
              %i.icon-star
              %i.icon-star-empty
            .distance
              .icon-direction
              %h2 1.1mi
            .menu-btn
              %i.icon-chevron-right
        .cache-header
          %a.cache-info{:href => "peppis_cache.html"}
            %h3 Peppi's Cache
            .difficulty
              .icon-cache.green
              %i.icon-star
              %i.icon-star
              %i.icon-star-empty
            .distance
              .icon-direction
              %h2 1.1mi
            .menu-btn
              %i.icon-chevron-right
      
      

  %script{:src => "/js/toggles-ck.js"}
  %script{:src => "/js/map_controls-ck.js"}









